# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea
/.idea/*
.DS_Store
/captures
.externalNativeBuild
.cxx

# Build folders
/build
/app/build

# Firebase
app/google-services.json

# Keystore
*.jks

# Logs
*.log
